@import 'product';

.recommended {
  &__products {
    @include page-grid;

    row-gap: $recommended-products-row-gap;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span $recommended-column-span;
    }
  }
}
