.about-us {
  display: grid;
  padding-block-end: $about-us-padding-block-end-on-mobile;

  @include on-tablet {
    padding-block-end: $about-us-padding-block-end-on-tablet;
  }

  &__img {
    width: 100%;
    object-fit: cover;

    margin-block-end: $about-us-img-margin-block-end-on-mobile;

    @include on-tablet {
      margin-block-end: $about-us-img-margin-block-end-on-tablet;
    }

    @include on-desktop {
      height: $about-us-img-height-on-desktop;
    }
  }

  &__content {
    @include page-grid;
  }

  &__title {
    margin: 0;
    margin-block-end: $about-us-title-margin-block-end;

    font-size: $font-size-display-sm;
    font-weight: $font-weight-bold;
    line-height: $line-height-none;

    grid-column: span $about-us-title-grid-column-span-on-mobile;

    @include on-tablet {
      grid-column: span $about-us-title-grid-column-span-on-tablet;

      font-size: $font-size-display-lg;
    }

    @include on-desktop {
      grid-column: span $about-us-title-grid-column-span-on-desktop;

      font-size: $font-size-display-xl;
    }
  }

  &__text {
    margin: 0;
    grid-column: span $about-us-text-grid-column-span-on-mobile;

    font-size: $font-size-body-base;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-sm;
    font-weight: $font-weight-normal;

    @include on-tablet {
      grid-column: span $about-us-text-grid-column-span-on-tablet;
    }

    @include on-desktop {
      grid-column: #{$about-us-text-grid-column-start-on-desktop} / #{$about-us-text-grid-column-end-on-desktop};
    }
  }

  background-color: #fcfaef;
}
