.button {
  width: 100%;
  height: $button-height;
  border: none;

  border-radius: $button-border-radius;
  background-color: $button-bg-primary;
  font-size: $font-size-body-base;

  line-height: $button-line-height;
  color: $color-contrast;
  font-weight: $font-weight-bold;

  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #1b2129;
  }

  &:active {
    background-color: #010810;
  }
}
