.page {
  &__body {
    margin: 0;

    font-size: $font-size-base;
    font-family: $font-family-main;
  }

  &__wrapper {
    max-width: $desktop-min-width;
    margin-inline: auto;
    position: relative;
    z-index: 1;
  }

  &__menu {
    max-width: $desktop-min-width;
    margin-inline: auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;

    transition:
      transform $time-03s,
      opacity $time-03s;
    transform: translateX(-100%);

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }

  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
