.page {
  &__body {
    margin: 0;

    font-size: $font-size-base;
    font-family: $font-family-main;
  }

  &__section {
    margin-block-end: $page-section-margin-block-end-mobile;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
