.section-title {
  margin: 0;
  margin-block-end: $section-title-margin-block-end-on-mobile;
  font-size: $section-title-font-size-on-mobile;

  @include on-tablet {
    margin-block-end: $section-title-margin-block-end-on-tablet;
    font-size: $section-title-font-size-on-tablet;
  }

  @include on-desktop {
    font-size: $section-title-font-size-on-desktop;
  }
}
