@import 'category';

.categories {
  &__items {
    display: grid;
    row-gap: $categories-row-gap-on-mobile;

    @include on-desktop {
      row-gap: $categories-row-gap-on-desktop;
    }
  }

  &__item {
    grid-column: 1/-1;
  }
}
