.category {
  &__images {
    @include page-grid;
  }

  &__img {
    width: 100%;

    @include hover(transform, scale($scale-size));
  }

  &__link {
    &--left {
      @include on-tablet {
        grid-column: span $category-link-left-grid-column-span-on-tablet;
      }

      @include on-desktop {
        grid-column: span $category-link-left-grid-column-span-on-desktop;
      }
    }

    &--right {
      @include on-tablet {
        grid-column: span $category-link-right-grid-column-span-on-tablet;
      }

      @include on-desktop {
        grid-column: span $category-link-right-grid-column-span-on-desktop;
      }
    }
  }
}
