.menu {
  &__top {
    margin-block-end: $menu-top-padding-block-end;
    background-color: $bg-menu;
  }

  &__nav {
    margin-block-end: $menu-nav-margin-block-end;
  }

  &__phone-number,
  &__call-to-order {
    display: block;
    text-decoration: none;

    font-size: $font-size-base;
    line-height: $line-height-1-4;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-lg;
    color: $color-text-main;
  }

  &__phone-number {
    margin-block-end: $menu-phone-margin-block-end;
  }

  &__call-to-order {
    padding-block-end: $menu-call-to-order-padding-block-end;
    border-bottom: 1px solid $color-text-main;

    text-transform: uppercase;
    width: fit-content;

    margin-block-end: $menu-call-to-order-margin-block-end-low-screen-height;
  }

  height: 100vh;
  width: 100vw;

  overflow: auto;
  z-index: 1;

  color: $color-text-main;
  background-color: $bg-menu;
}
