.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-block-end: $nav-item-margin-block-end;
    }

    font-size: $font-size-body-xl;
    line-height: $line-height-none;
    font-weight: $font-weight-bold;
  }

  &__link {
    text-decoration: none;
    color: $color-text-main;
    cursor: pointer;

    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: $nav-link-bottom;
      height: $nav-link-height;
      width: 100%;
      background-color: $color-text-main;

      transform: scale(0);
      transition: $time-03s;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
