.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $button-width-mobile;
  height: $button-height;
  border: none;

  border-radius: 8px;
  background-color: $button-bg-primary;
  text-decoration: none;
  font-size: $font-size-base;

  line-height: $button-line-height;
  color: $color-contrast;
}
