@import 'recommended/recommended';
@import 'categories/categories';
@import 'about-us/about-us';

.main {
  &__content {
    display: grid;
    row-gap: $main_content-row-gap-mobile;
    padding-block: $main-padding-block-mobile;

    @include on-tablet {
      row-gap: $main_content-row-gap-tablet;
      padding-block: $main-padding-block-tablet;
    }
  }
}
