@import 'recommended/recommended';
@import 'categories/categories';
@import 'about-us/about-us';

.main {
  &__content {
    display: grid;
    row-gap: $main-content-row-gap-on-mobile;
    padding-block: $main-padding-block-on-mobile;

    @include on-tablet {
      row-gap: $main-content-row-gap-on-tablet;
      padding-block: $main-padding-block-on-tablet;
    }
  }

  background-color: $color-bg-main;
}
