.info {
  &__link,
  &__label {
    display: block;
    width: fit-content;
    margin-block-end: $info-label-margin-block-end;
    text-decoration: none;

    font-size: $font-size-body-sm;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-sm;
    font-weight: $font-weight-normal;
    color: $color-text-secondary;
  }

  &__link {
    &:not(:last-child) {
      margin-block-end: $info-link-margin-block-end;
    }

    font-size: $font-size-body-base;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-sm;
    font-weight: $font-weight-normal;
    color: $color-text-main;
  }

  @include on-compact-footer {
    position: sticky;
    bottom: 0;
  }
}
