@import 'form';
@import 'contact-us-info';

.contact-us {
  @include page-grid;

  row-gap: $contact-us-row-gap-on-mobile;

  @include on-tablet {
    row-gap: $contact-us-row-gap-on-tablet;
  }

  &__form {
    grid-column: span $contact-us-form-grid-column-span-on-mobile;

    @include on-tablet {
      grid-column: span $contact-us-form-grid-column-span-on-tablet;
    }

    @include on-desktop {
      grid-column: span $contact-us-form-grid-column-span-on-desktop;
    }
  }

  &__info {
    grid-column: span $contact-us-info-grid-column-span-on-mobile;

    @include on-tablet {
      grid-column: span $contact-us-info-grid-column-span-on-tablet;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      grid-column: #{$contact-us-info-grid-column-start-on-desktop} / #{$contact-us-info-grid-column-end-on-desktop};
    }
  }
}
