@import 'contact-us';

.footer {
  padding-block-end: $footer-padding-block-end-on-mobile;

  @include on-tablet {
    padding-block-end: $footer-padding-block-end-on-tablet;
  }

  @include on-full-footer {
    position: sticky;
    bottom: 0;
  }
}
