.form {
  box-sizing: border-box;

  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-block: $form-input-padding-block;
    padding-inline: $form-input-padding-padding-inline;

    border: 1px solid transparent;
    border-radius: $form-input-border-radius;

    font-family: $font-family-main;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-sm;
    line-height: $line-height-1-4;

    background-color: $input-bg-primary;

    &:not(:last-child) {
      margin-block-end: $form-input-padding-margin-block-end;
    }

    /* Chrome, Edge (WebKit) */

    &:-webkit-autofill,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:hover {
      -webkit-box-shadow: 0 0 0 1000px $input-bg-primary inset !important;
      box-shadow: 0 0 0 1000px $input-bg-primary inset !important;
      -webkit-text-fill-color: $color-text-main !important;
      caret-color: auto;
      transition: background-color 5000s ease-in-out 0s;
    }

    /* Firefox */

    &:-moz-autofill,
    &:-moz-autofill:focus,
    &:-moz-autofill:hover {
      box-shadow: 0 0 0 1000px $input-bg-primary inset !important;
      -moz-text-fill-color: $color-text-main !important;
    }
  }

  &__input--message {
    height: $form-input-message-height;
    margin-block-end: $form-input-message-margin-block-end;
    resize: none;
  }
  &__input:hover {
    border: 1px solid #dbdbdb;
  }
  &__input:focus {
    outline: 2px solid #f98921;
  }

  background-color: $color-bg-main;
  z-index: 1;
}
