@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-low-screen-height {
  @media screen and (max-height: $max-height) {
    @content;
  }
}

@mixin page-grid {
  --columns: #{$columns-mobile};

  display: grid;
  column-gap: #{$column-gap-mobile};
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: #{$columns-tablet};

    column-gap: #{$column-gap-tablet};
  }

  @include on-desktop {
    --columns: #{$columns-desktop};
  }
}

@mixin content-padding-inline {
  padding-inline: $padding-inline-mobile;

  @include on-tablet {
    padding-inline: $padding-inline-tablet;
  }

  @include on-desktop {
    padding-inline: $padding-inline-desktop;
    margin-inline: auto;
  }
}

.container {
  @include content-padding-inline;
}

@mixin hover($property, $toValue) {
  transition: $property $time-03s;
  &:hover {
    #{$property}: $toValue;
  }
}
