$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$height-breakpoint-footer: 878px;

// --

$padding-inline-on-mobile: 20px;
$padding-inline-on-tablet: 72px;
$padding-inline-on-desktop: 120px;

// --

$columns-on-mobile: 2;
$columns-on-tablet: 6;
$columns-on-desktop: 12;
$column-gap-on-mobile: 20px;
$column-gap-on-tablet: 24px;

// --

$top-bar-padding-block: 24px;
$top-bar-logo-height-on-mobile: 16px;
$top-bar-logo-height-on-tablet: 24px;
$top-bar-icon-gap: 32px;
$icon-height-on-mobile: 24px;
$icon-width-on-mobile: 24px;
$icon-height-on-tablet: 32px;
$icon-width-on-tablet: 32px;

// --

$menu-top-padding-block-end: 32px;
$menu-top-padding-block-end-low-screen-height: 20px;
$menu-nav-margin-block-end: 40px;
$menu-phone-margin-block-end: 16px;
$menu-call-to-order-padding-block-end: 3px;
$menu-call-to-order-margin-block-end-low-screen-height: 5px;
$nav-item-margin-block-end: 32px;
$nav-link-bottom: -8px;
$nav-link-height: 1px;

// --

$header-title-margin-block-end-on-mobile: 40px;
$header-title-margin-block-end-on-tablet: 64px;

// --

$section-title-margin-block-end-on-mobile: 48px;
$section-title-margin-block-end-on-tablet: 56px;
$section-title-font-size-on-mobile: 32px;
$section-title-font-size-on-tablet: 40px;
$section-title-font-size-on-desktop: 48px;

// --

$main-content-row-gap-on-mobile: 96px;
$main-content-row-gap-on-tablet: 120px;
$main-padding-block-on-mobile: 64px;
$main-padding-block-on-tablet: 120px;

// --

$product-img-margin-block-end: 24px;
$product-tittle-margin-block-end: 8px;
$product-description-margin-block-end: 12px;
$recommended-products-row-gap: 40px;
$recommended-column-span-on-desktop: 4;

// --

$categories-row-gap-on-mobile: 40px;
$categories-row-gap-on-desktop: 56px;
$category-link-left-grid-column-span-on-tablet: 3;
$category-link-left-grid-column-span-on-desktop: 6;
$category-link-right-grid-column-span-on-tablet: 3;
$category-link-right-grid-column-span-on-desktop: 6;

// --

$about-us-img-height-on-desktop: 460px;
$about-us-img-margin-block-end-on-mobile: 48px;
$about-us-img-margin-block-end-on-tablet: 120px;
$about-us-title-margin-block-end: 24px;
$about-us-padding-block-end-on-mobile: 48px;
$about-us-padding-block-end-on-tablet: 120px;
$about-us-title-grid-column-span-on-mobile: 2;
$about-us-title-grid-column-span-on-tablet: 3;
$about-us-title-grid-column-span-on-desktop: 6;
$about-us-text-grid-column-span-on-mobile: 2;
$about-us-text-grid-column-span-on-tablet: 3;
$about-us-text-grid-column-span-on-desktop: 6;

// --

$form-input-padding-block: 14px;
$form-input-padding-padding-inline: 16px;
$form-input-padding-margin-block-end: 16px;
$form-input-message-height: 148px;
$form-input-message-margin-block-end: 32px;
$form-input-border-radius: 8px;
$footer-padding-block-end-on-mobile: 48px;
$footer-padding-block-end-on-tablet: 120px;
$contact-us-row-gap-on-mobile: 48px;
$contact-us-row-gap-on-tablet: 80px;
$contact-us-form-grid-column-span-on-mobile: 2;
$contact-us-form-grid-column-span-on-tablet: 6;
$contact-us-form-grid-column-span-on-desktop: 6;
$contact-us-info-grid-column-span-on-mobile: 2;
$contact-us-info-grid-column-span-on-tablet: 6;
$contact-us-info-grid-column-start-on-desktop: 8;
$contact-us-info-grid-column-end-on-desktop: -1;
$info-label-margin-block-end: 8px;
$info-link-margin-block-end: 24px;

// --

$font-family-main: Manrope, sans-serif;
$font-family-second: Inter, sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-2xl: 32px;
$font-size-3xl: 36px;
$font-size-4xl-0: 40px;
$font-size-4xl: 48px;
$font-size-5xl: 56px;
$line-height-1: 1;
$line-height-1-4: 1.4;
$letter-spacing-lg: 2px;
$letter-spacing-sm: 0.15px;

// --

$font-weight-normal: 400;
$font-weight-bold: 700;
$color-text-main: #1b2129;
$color-text-secondary: #9393a3;
$color-contrast: #fff;
$menu-top-bar-bg: #e5e5e5;
$menu-bg: #f9f9f9;
$input-bg-primary: #f9f9f9;
$color-bg-main: #fff;

// --

$header-bottom-padding-block-end: 40px;

// --

$button-width: 280px;
$button-width-on-tablet: 600px;
$button-width-desktop: 324px;
$button-height: 56px;
$button-border-radius: 8px;
$button-line-height: 27px;
$button-bg-primary: #f98921;
$button-bg-hover: #1b2129;
$button-bg-active: #1b2129;

// --

$time-03s: 0.3s;
$scale-size: 1.2;
