@import '../menu/menu';
@import '../menu/nav';

.header {
  &__content {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    @include on-desktop {
      height: $header-height-on-desktop;
    }

    max-width: $desktop-min-width;
  }

  background-image: url('../images/header-bg.webp');
  background-size: cover;
  background-position: center;

  .header__title {
    margin: 0;
    margin-block-end: $header-title-margin-block-end-on-mobile;

    font-size: $font-size-3xl;
    line-height: $line-height-1;

    @include on-tablet {
      font-size: $font-size-4xl;
      margin-block-end: $header-title-margin-block-end-on-tablet;
    }

    @include on-desktop {
      font-size: $font-size-5xl;
    }

    font-weight: $font-weight-bold;
    color: $color-contrast;
  }
}
