@import '../menu/menu';
@import '../menu/nav';

.header {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
  }

  background-image: url('../images/header-bg.webp');
  background-size: cover;
  background-position: center;

  .header__title {
    margin: 0;
    margin-block-end: $header-title-margin-block-end-on-mobile;

    font-size: $font-size-display-md;
    line-height: $line-height-none;

    @include on-tablet {
      font-size: $font-size-display-xl;
      margin-block-end: $header-title-margin-block-end-on-tablet;
    }

    @include on-desktop {
      font-size: $font-size-display-2xl;
    }

    font-weight: $font-weight-bold;
    color: $color-contrast;
  }

  z-index: 1;
  position: relative;
}
