.form {
  &__input {
    padding-inline: 16px;
    padding-block: 14px;
    border-radius: 8px;

    border: none;
    background-color: $input-bg-primary;

    &:not(:last-child) {
      margin-block-end: 16px;
    }

    &:last-child {
      margin-block-end: 32px;
    }

    &--message {
      height: 148px;
    }
  }

  &__button {
    margin-block-end: 48px;
  }

  &__link {
    &:not(:last-child) {
      margin-block-end: $form-link-margin-block-end;
    }

    display: block;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    text-decoration: none;
    letter-spacing: $letter-spacing-sm;
    color: $color-text-main;
  }

  &__label {
    display: block;
    margin-block-end: $form-label-margin-block-end;

    font-size: $font-size-sm;
    line-height: $line-height-1-4;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing-sm;
    color: $color-text-secondary;
  }
}
